services:
  # === Laravel Service ===
  laravel:
    build:
      context: ./laravel
    container_name: laravel_app
    ports:
      - "8000:80"
    volumes:
      - ./laravel:/var/www/html
    environment:
      - DB_CONNECTION=pgsql
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_DATABASE=${POSTGRES_DB}
      - DB_USERNAME=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - postgres

  # === FastAPI Service ===
  fastapi:
    build:
      context: ./fastapi
    container_name: fastapi_app
    ports:
      - "8001:80"
    volumes:
      - ./fastapi:/app
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
    depends_on:
      - postgres
    command: uvicorn app.main:app --host 0.0.0.0 --port 80 --reload

  # fastapi:
  #   build:
  #     context: ./fastapi
  #   container_name: fastapi_app
  #   ports:
  #     - "8001:80"
  #   volumes:
  #     - ./fastapi:/app
  #   environment:
  #     DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
  #   depends_on:
  #     - postgres
  
  # === PostgreSQL Service ===
  postgres:
    image: postgres:17-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: